@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100;400&family=Roboto:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

#myContainer {
  width: 100%;
  height: 100vh;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#myContainer #wrapper0 {
  visibility: hidden;
}

#myContainer #wrapper0 #heading0 {
  color: #FFF;
}
